.list-wrapper {
  overflow-x: scroll;
}

.item-list {
  white-space: nowrap;
}

.mylist.ui.horizontal.list>.item {
  margin-left: -30px;
}
.mylist.ui.horizontal.list>.item > div {
  opacity: 1;
  background: white;
}

.mylist.ui.horizontal.list>.item  img {
  border: 1px solid red;
  opacity: 0.5;
  background: white;
}

.mylist.ui.selection.list>.item.active img {
  opacity: 1;
}
